[package]
name = "opencv"
description = "Rust bindings for OpenCV"
documentation = "https://docs.rs/opencv"
repository = "https://github.com/twistedfall/opencv-rust"
readme = "README.md"
keywords = [ "opencv", "vision" ]
license = "MIT"
version = "0.25.0"
edition = "2018"
authors = ["Mathieu Poumeyrol <kali@zoy.org>", "Pro <twisted.fall@gmail.com>"]
build = "build.rs"

[lib]
doctest = false

[badges]
travis-ci = { repository = "twistedfall/opencv-rust", branch = "master" }

[dependencies]
cpp = "0.5.3"
libc = "0.2"
num = "0.2"
once_cell = "1.0"
slab = "0.4"

[build-dependencies]
cc = {version = "1.0", features = ["parallel"]}
cpp_build = "0.5.3"
glob_crate = {package = "glob", version = "0.3"}
once_cell = "1.0"
pkg-config = "0.3"
rayon = "1.0"
regex = "1.0"
semver = "0.9"
which_crate = {package = "which", version = "3.0", default-features = false}

[dev-dependencies]
matches = "0.1"

[features]
default = ["opencv-34"]
buildtime-bindgen = []
force-3rd-party-libs-discovery = []
opencv-32 = []
opencv-34 = []
opencv-41 = []
contrib = []
docs-only = []

[package.metadata.docs.rs]
features = ["docs-only", "contrib"]
