[package]
name = "opencv-binding-generator"
description = "Binding generator for opencv crate"
repository = "https://github.com/twistedfall/opencv-rust"
version = "0.19.0"
license = "MIT"
authors = ["Pro <twisted.fall@gmail.com>"]
edition = "2018"

[lib]

[dependencies]
clang = {version = "0.24", features = ["clang_6_0"]}
clang-sys = {version = "1.0", features = ["clang_6_0"]}
dunce = "1.0"
maplit = "1.0"
once_cell = "1.0"
percent-encoding = "2.0"
regex = "1.0"
