name: opencv-rust
on:
  push:
    branches:
      - "*"
    tags_ignore:
      - "*"
  pull_request:
    branches:
      - "*"
jobs:
  src:
    strategy:
      fail-fast: false
      matrix:
        os-image:
          - ubuntu-22.04
          - macos-12
        version:
          - opencv: 3.4.19
          - opencv: 4.8.0
        exclude:
          - os-image: macos-12
            version:
              opencv: 3.4.20
        include:
          - os-image: ubuntu-22.04
            version:
              opencv: 4.8.0-static
    runs-on: ${{ matrix.os-image }}
    env:
      Atlas_ROOT_DIR: /usr/include/ # for cmake to find lapacke.h
      OPENCV_VERSION: ${{ matrix.version.opencv }}
    steps:
      - uses: actions/checkout@v3

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/build
          key: src-${{ matrix.version.opencv }}-${{ matrix.os-image }}

      - name: Install dependencies
        env:
          OS_FAMILY: ${{ runner.os }}
        run: ci/install.sh
        shell: bash

      - uses: dtolnay/rust-toolchain@stable

      - name: Test project
        env:
          OS_FAMILY: ${{ runner.os }}
        run: ci/script.sh
        shell: bash

  vcpkg:
    strategy:
      fail-fast: false
      matrix:
        os-image:
          - ubuntu-22.04
          - windows-2022
        version:
          - vcpkg: b7dba7f9aad09a56900f21cd78cfda1258e54e38
    runs-on: ${{ matrix.os-image }}
    env:
      VCPKG_VERSION: ${{ matrix.version.vcpkg }}
    steps:
      - uses: actions/checkout@v3

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/build
          key: vcpkg-${{ matrix.version.vcpkg }}-${{ matrix.os-image }}

      - name: Install dependencies
        env:
          OS_FAMILY: ${{ runner.os }}
        run: ci/install.sh
        shell: bash

      - uses: dtolnay/rust-toolchain@stable

      - name: Test project
        env:
          OS_FAMILY: ${{ runner.os }}
        run: ci/script.sh
        shell: bash

  bin:
    strategy:
      fail-fast: false
      matrix:
        os-image:
          - macos-12
          - windows-2022
        version:
          - branch: 3.4
            opencv: 3.4.16
            brew: "@3"
          - branch: 4
            opencv: 4.7.0
            brew: "@4"
        include:
          - os-image: ubuntu-22.04
            version:
              opencv: 4.5.4
              brew: excluded
    runs-on: ${{ matrix.os-image }}
    env:
      OPENCV_VERSION: ${{ matrix.version.opencv }}
      BREW_OPENCV_VERSION: ${{ matrix.version.brew }}
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        env:
          OS_FAMILY: ${{ runner.os }}
        run: ci/install.sh
        shell: bash

      - uses: dtolnay/rust-toolchain@stable

      - name: Test project
        env:
          OS_FAMILY: ${{ runner.os }}
        run: ci/script.sh
        shell: bash

  docs-rs:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - uses: dtolnay/rust-toolchain@stable

      - name: Run a documentation generation test
        run: ci/docs-rs.sh
        shell: bash

  msrv:
    runs-on: ubuntu-22.04
    env:
      OPENCV_VERSION: 4.5.4
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        env:
          OS_FAMILY: ${{ runner.os }}
        run: ci/install.sh
        shell: bash

      - name: Get MSRV package metadata
        id: metadata
        run: cargo metadata --no-deps --format-version 1 | jq -r '"msrv="+(.packages[]|select(.name=="opencv").rust_version)' >> $GITHUB_OUTPUT

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ steps.metadata.outputs.msrv }}

      - name: Check project
        env:
          OS_FAMILY: ${{ runner.os }}
        run: ci/msrv.sh
        shell: bash
